body {
    font-family: 'Roboto Condensed', sans-serif;
}

#title {

    font-size: 34px;
    text-align: center;
    background-color: #D3D3D3;
}

#img-div {
    align-content: center;
}

#image {
    width: 100%;
    height: auto;
}

#img-caption {
    text-align: center;
    font-size: 24px;

}

#tribute-info u {
    font-size: 25px;
    

}
#tribute-info ul {
    background-color: #d3d3d3;
}

#tribute-link b {
    font-size: 20px;
}
